html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
    line-height:1;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Default Style
 *--------------------------------------------------------------*/
 html, body{
    height: 100%;
 }
 body{
    background: -webkit-linear-gradient(top, #8c34ef 0%, #6534ef 100%);
    background: linear-gradient(to bottom, #8c34ef 0%, #6534ef 100%);
 }

/* App Style
 *--------------------------------------------------------------*/
/* Page Start */
.logo{
    margin: 0 auto;
    padding-top: 86px;
    height: 226px;
    width: 122px;
}
.logo img{
    width: 100%;
}
.logo-text{
    margin: 0 auto;
    padding-top: 24px;
    width: 84px;
    height: 45px;
}
.logo-text img{
    width: 100%;
}
.looktips{
    opacity: 0;
}

.bling-start .looktips{
    opacity: 1;
    text-align: center;
    margin: 20%;
    color: #9385B8;
}

.bling-showimg .page-start{
    display: none;
}

/* page-showimg */
.page-showimg .img-wrap{}
.page-showimg .img-wrap > img{
    max-width: 100%;
}

.bling-hideimg .page-showimg{
    display: none;
}

.page-upload{
    display: none;
}
.page-upload .snapluck{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 20%;
    font-size: 30px;
}
.page-upload .snapluck-type{
    color: #cba200;
}
.page-upload .snapluck-tips{
    color: #cba200;
    font-size: 12px;
    line-height: 34px;
}
.page-upload .snapluck-tips .author{
    display: inline-block;
    margin: 0 3px;
}
.page-upload .btn-camera{
    position: absolute;
    background: url(../img/icon-camera.png) no-repeat 0;
    width: 98px;
    height: 98px;
    background-size: 100%;
    top: 50%;
    left: 50%;
    margin: -49px 0 0 -49px;
}
.page-upload .btn-miniabout{}
.page-upload .logo-footer{
    position: absolute;
    width: 49px;
    height: 27px;
    background: url(../img/logo-text-mini.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 20px;
    left: 50%;
    margin: 0 0 0 -24px;
}

.bling-upload{
    background: #000;
    
}
.bling-upload .page-upload{
    display: block;
}





/* Page Style
 *--------------------------------------------------------------*/








