html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
    line-height:1;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Default Style
 *--------------------------------------------------------------*/
 html, body{
    height: 100%;
 }
 body{
    background: -webkit-linear-gradient(top, #6534ef 0%, #8c34ef 100%);
 
    /* background: #6F5129; */
    background-size: auto 100%;
}

/* App Style
 *--------------------------------------------------------------*/
 .wrap{
     /*height: 100%;*/
 
}
/* Page Start */
.logo{
    margin: 0 auto;
    padding-top: 86px;
    height: 226px;
    width: 122px;
}
.logo img{
    width: 100%;
}
.logo-text{
    margin: 0 auto;
    padding-top: 24px;
    width: 84px;
    height: 45px;
}
.logo-text img{
    width: 100%;
}
.looktips{
    opacity: 0;
}
.countDown-wrap{
  display: block;
  position: absolute;
  font-size: 14px;
  bottom: 10%;
  left: 50%;
  margin: 0 0 0 -34px;
}
.countDown-wrap .num{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #cba200;
}
#countDown{
  /* display: none; */
  z-index: 5000;
  width: 68px;
  height: 68px;
  /* width: 136px; */
  /* height: 136px; */
  /* transform: scale(0.5); */
}
.bling-showimg .countDown-wrap{
  display: block;
}
.bling-upload .countDown-wrap{
  display: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dcecb;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 5em auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #FFF;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dcecb;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page-start .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
}
.page-start .cover{
    display: none;
}
.page-start .cover .logo-mini{
    text-align: center;
    margin-top: 20%;
    position: absolute;
    z-index: 2000;
    width: 100%;
}
.page-start .cover .logo-mini > img{
    width: 49px;
    height: 28px;
}
.page-start .cover:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.bling-start .looktips{
    opacity: 1;
    text-align: center;
    margin: 20%;
    color: #9385B8;
    color: #ffcc00;
    position: absolute;
    z-index: 2000;
    margin: 0;
    width: 100%;
    top: 68%;
}

.bling-showimg .page-start{
    display: none;
}

/* page-showimg */
.bling-showimg .page-showimg{
    display: block;
}
.page-showimg{
    height: 100%;
    display: none;
}
.page-showimg .img-wrap{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.page-showimg .img-wrap > img{
    max-width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page-showimg .img-wrap:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 8000;
}

.bling-hideimg .page-showimg{
    display: none;
}

.page-upload{
    display: none;
    height: 100%;
    width: 100%;
}
.page-upload .cover{
    height: 100%;
    width: 100%;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.75);
}
.page-upload .preview{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.page-upload .preview > img{
    max-width: 100%;
    overflow: hidden;
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}
.page-upload .snapluck{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 20%;
    font-size: 30px;
}
.page-upload .snapluck-guide{
    color: #cba200;
    -webkit-animation: guide-slide-down ease-in;
    -webkit-animation-duration: 800ms;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes guide-slide-down {
    from {
        /*-webkit-transform: translateY(0);
        transform: translateY(0)*/
    }

    20% {
        -webkit-transform: translateY(20rem);
        transform: translateY(20rem);
    }
    
    to {
        -webkit-transform: translateY(20rem) scale(0.8);
        transform: translateY(20rem) scale(0.8);
    }
}

.page-upload .snapluck-guide > p{
    font-size: 16px;
    line-height: 26px;

    -webkit-animation: slide-left cubic-bezier(0.5, 0, 0.25, 1.5),fade-in ease-in;
    animation: slide-left cubic-bezier(0.5, 0, 0.25, 1.5),fade-in ease-in;

    -webkit-animation-fill-mode: forwards;

}
.page-upload .snapluck-guide > p:nth-child(1){
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}
.page-upload .snapluck-guide > p:nth-child(2){
    opacity: 0;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;

    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms;

    -webkit-animation-fill-mode: forwards;
}
.page-upload .snapluck-guide > p:nth-child(3){
    opacity: 0;
    -webkit-animation-delay: 1.25s;

    -webkit-animation-duration: 1600ms;
    animation-duration: 1600ms;

    -webkit-animation-fill-mode: forwards;
}
.page-upload .snapluck-type{
    color: #cba200;
    opacity: 0;
    -webkit-animation: slide-up-show cubic-bezier(0.5, 0, 0.25, 1.5),fade-in ease-in;
     -webkit-animation-delay: 5s;
     -webkit-animation-duration: 400ms;
    -webkit-animation-fill-mode: forwards;
}
.page-upload .snapluck-tips{
    color: #cba200;
    font-size: 12px;
    line-height: 34px;
    opacity: 0;
     -webkit-animation: slide-up-show cubic-bezier(0.5, 0, 0.25, 1.5),fade-in ease-in;
     -webkit-animation-delay: 5.2s;
     -webkit-animation-duration: 400ms;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slide-up-show {
    from {
        opacity: 0.8;
        -webkit-transform: translateY(-4rem);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(-2rem);
    }
}
.page-upload .snapluck-tips .author{
    display: inline-block;
    margin: 0 3px;
}
.page-upload .btn-camera{
    position: absolute;
     background: url(../img/icon-camera-wrap.png) no-repeat 0; 
    width: 46px;
    height: 34px;
    background-size: 100%;
    top: 50%;
    left: 50%;
    margin: -42px 0 0 -42px;
    padding: 27px 19px;
    -webkit-transform: scale(0);
    -webkit-animation: camera-scale ease-in;
    -webkit-animation-duration: 800ms;
    -webkit-animation-delay: 5.8s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes camera-scale {
    from {
        opacity: 0.5;
        -webkit-transform: scale(0);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    
    to {
        -webkit-transform: scale(1);
    }
}
.page-upload .btn-camera:before{}
.page-upload .btn-camera .core{
    background: url(../img/icon-camera-core.png) no-repeat 0;
    width: 46px;
    height: 33px;
    background-size: 100%;
    opacity: 0;
    -webkit-animation: camera-core-scale ease-in;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-delay: 6.6s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes camera-core-scale {
    from {
        opacity: 0.5;
        -webkit-transform: scale(3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(0.8);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
.page-upload .btn-miniabout{}
.page-upload .logo-footer{
    position: absolute;
    width: 49px;
    height: 27px;
    background: url(../img/logo-text-mini.png) no-repeat 0 0;
    background-size: 100%;
    bottom: 20px;
    left: 50%;
    margin: 0 0 0 -24px;
}

.bling-upload{
    background: #000;
    
}
.bling-upload .page-upload{
    display: block;
}

.upload-select{
    display: none;
}
.upload-select .select-snapluck{
    position: absolute;
    width: 100%;
    top: 20%;
}
.upload-select .select-box{
    text-align: center;
    width: 144px;
    margin: 0 auto 12px;
    position: relative;
}
.upload-select .select-box-tips{
    text-align: center;
    font-size: 10px;
    color: #cba200;
}
.upload-select .select-box:before{
    content:'';
    position: absolute;
    width: 6px;
    height: 10px;
    background: url(../img/icon-arrow.png) no-repeat 0 0;
    background-size: 100%;
    left: 0px;
    top: 10px;
}
.upload-select .select-box:after{
    content: '';
position: absolute;
width: 6px;
height: 10px;
background: url(../img/icon-arrow.png) no-repeat 0 0;
background-size: 100%;
-webkit-transform: rotate(-180deg);

    right: 0px;
    top: 10px;
}
.upload-select .select-box .snapluck-value{
    font-size: 30px;
    display: inline-block;
    color: #fff;
}
.upload-select .option-snapluck{
    color: #cba200;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 38%;
    font-size: 0;
}
.upload-select .option-snapluck .btn-option{
    width: 60px;
    height: 60px;
    border: 1px solid #cba200;
    border-radius: 32px;
    display: inline-block;
    padding: 1px;
}
.upload-select .option-snapluck .num{
    display: block;
    font-size: 30px;
    line-height: 30px;
    padding: 8px 0 6px;
    text-align: center;
}
.upload-select .option-snapluck .name{
    font-size: 9px;
    line-height: 7px;
}
.upload-select .partline{
    display: inline-block;
    vertical-align: top;
    margin: 24px 28px 0;
}
.upload-select .partline .icon-x{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon-x.png) no-repeat 0 0;
    background-size: 100%;
}
.upload-select .option-snapluck .option-time{}
.upload-select .option-snapluck .option-count{}
.upload-select .form-upload{
    position: absolute;
    width: 100%;
    top: 60%;
}
.upload-select .input-wrap{
    text-align: center;
    font-size: 0;
}
.upload-select .btn-base{
    display: block;
    width: 164px;
    height: 36px;
    border: 1px solid #cba200;
    border-radius: 16px;
    color: #cba200;
    font-size: 14px;
    line-height: 36px;
    margin: 0 auto 16px;
}
.upload-select .btn-submit{
    background-color: #cba200;
color: #000;
}

.page-upload-ready .upload-before{
    display: none;
}
.page-upload-ready .upload-select{
    display: block;
}

/* nolook */
.nolook{
    display: none;
}
.nolook-tips{
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-top: 85px;
}
.nolook .userbox{
    display: none;
}
.nolook .userbox-title{
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 60px 0 27px;
}
.userbox-list{
    text-align: left;
    font-size: 0;
    width: 312px;
    margin: 0 auto;
}
.userbox-list .item{
    width: 52px;
    height: 52px;
    display: inline-block;
    margin: 0 25px 25px;
}
.userbox-list .item > img{
    display: block;
    width: 100%;
}
.userbox-list .item .user-name{
    font-size: 9px;
    text-align: center;
    display: block;
    line-height: 1;
    color: #fff;
    padding-top: 6px;
    width: 100%;
    overflow: hidden; text-overflow:ellipsis; white-space:nowrap;
}

.bling-nolook{
    height: auto;
}
.bling-nolook .nolook{
    display: block;
}
.bling-nolook .page-start .cover{
    display: none;
}


#Loading{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -34px 0 0 -34px;
}
#Loading .wrap{
  background: url(../img/loading-wrap.png) no-repeat 0 0;
  width: 67px;
  height: 67px;
  background-size: 100%;
  margin: 0 auto;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#Loading .text{
  font-size: 9px;
  color: #ffcc00;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;   
  display: flex;
  -webkit-align-items: center;   
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}



/* Animate
 *--------------------------------------------------------------*/
 @-webkit-keyframes fade-in {
    from {
        opacity: 0
    }
    
    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    
    to {
        opacity: 1
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 0
    }
    
    to {
        opacity: 1
    }
}

@keyframes fade-out {
    from {
        opacity: 0
    }
    
    to {
        opacity: 1
    }
}

@-webkit-keyframes fade-in-out {
    0%,100% {
        opacity: 0;
        visibility: hidden
    }
    
    20%,80% {
        opacity: 1;
        visibility: visible
    }
}

@keyframes fade-in-out {
    0%,100% {
        opacity: 0;
        visibility: hidden
    }
    
    20%,80% {
        opacity: 1;
        visibility: visible
    }
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translateY(1.25rem);
        transform: translateY(1.25rem)
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translateY(1.25rem);
        transform: translateY(1.25rem)
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem)
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem)
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem)
    }
    
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slide-up {
    from {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem)
    }
    
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slide-down {
    from {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem)
    }
    
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slide-down {
    from {
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem)
    }
    
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slide-right {
    from {
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem)
    }
    
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slide-right {
    from {
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem)
    }
    
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes slide-left {
    from {
        -webkit-transform: translateX(5rem);
        transform: translateX(5rem)
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slide-left {
    from {
        -webkit-transform: translateX(5rem);
        transform: translateX(5rem)
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes slide-far-left {
    from {
        -webkit-transform: translateX(15rem);
        transform: translateX(15rem)
    }
    
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slide-far-left {
    from {
        -webkit-transform: translateX(15rem);
        transform: translateX(15rem)
    }
    
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes scale-up {
    from {
        -webkit-transform: scale(0.85);
        transform: scale(0.85)
    }
    
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-up {
    from {
        -webkit-transform: scale(0.85);
        transform: scale(0.85)
    }
    
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 0
    }
    
    33% {
        opacity: 0.85
    }
    
    66% {
        opacity: 0.4
    }
    
    100% {
        opacity: 1
    }
}

@keyframes flash {
    0% {
        opacity: 0
    }
    
    33% {
        opacity: 0.85
    }
    
    66% {
        opacity: 0.4
    }
    
    100% {
        opacity: 1
    }
}








